version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app:rw
      - ./typo/static/uploads:/app/typo/static/uploads
    environment:
      - FLASK_ENV=development
    command: ["gunicorn", "--workers", "2", "--bind", "0.0.0.0:8000", "typo.app:app"]
